
.texto{
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;  
}

.name{
    text-align:center ;
    color: rgb(206, 14, 104);
    font-size: 3rem;  
}
.card{
    display: flex;
    justify-content: center;
    background-color: rgb(235, 189, 219);
}

    
  
